.header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:  aquamarine;
	padding-left: 35px;
	padding-right: 50px;
}

.img {
	width: 70px;
}