.container {
	padding: 10px;
	margin-left: 20px;
}

.container a {
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.active {
	color: orange !important;
}

.sendIcon {
	display: inline-block;
}

.sendMessageBtn {
	cursor: pointer;
}